<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/polymer-ajax/polymer-ajax.html">

<polymer-element name="selfish-simon-tag">
  <!-- outermost template defines the element's shadow DOM -->
  <template>
    <polymer-ajax id='ajax' url="/data" handleAs="json"></polymer-ajax>
    <ul>
      <template repeat="{{s in salutations}}">
        <li>{{s.what}}: <input type="text" value="{{ s.who }}"></li>
      </template>
    </ul>
    <button on-click="{{updateModel}}">Update model</button>

    <h1>test</h1>
    <input type="text" value="{{test}}">
    <div>Binding: {{test}}</div>
  </template>
  <script src="/scripts/elements/selfish-simon-tag.js"></script>
</polymer-element>
