.myCell{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.uglyColor{
  background-color: #E91E63;
}

.headerBar{
  font-size: 20px;
  min-width: 800px;
}

.brick{
  background-color: black;
  color: white;
  
  border: 1px solid;
  border-color:white;
  
  width: 300px;
  height: 50px;
}